body{
	display: flex;
	flex-flow: nowrap column;
	background-color: #0a0a0a;
	color: #ea7200;
}

#container{
	display: flex;
	flex-flow: wrap row;
	justify-content: center;
}
input{
	text-align: center;
	background-color: #000;
	color: #ea7200;
	border: 1px solid;
	border-color: #7a009a;
	width: 12rem;
	border-radius: 5px;
	padding: 3px;
	padding-left: 8px;
}
.results{
	display: flex;
	flex-flow: nowrap column;
}

.heading{
	padding: 0;
	margin: .5rem;
	text-align: center;
}
.centerText{
	text-align: center;
}
ul{
	
	list-style-type: none;
	padding: 0;
	margin: .5rem;
}
li{
	
	margin: .5rem;
	padding: .5rem;
	border: 1px solid;
	border-radius: 10px;
}
#container{
	flex: 1;
}
.displayBox{
	min-width: 200px;
	max-width: 200px;
	
}
.hidden{
	display: none;
}
input:focus{
	outline: none;
}